<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expense Tracker app</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous" />
</head>

<body>
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-lg-6 col-md-8 col-sm-10">
                <div id="logo-container" class="text-center">
                    <img src="download.png" id="logo_img" class="img-fluid">
                </div>
                <div id="form_container" class="mt-5">
                    <h1 id="heading_tag" class="text-center">Expense Tracker app Login page</h1>
                    <form action="expense/login" method="POST" id="form">
                        <div class="mb-3">
                            <label for="emailId" class="form-label">Enter Your EmailId:</label>
                            <input type="text" class="form-control" id="emailId" name="emailId" placeholder="Email ID">
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Enter Your Password:</label>
                            <input type="password" class="form-control" id="password" name="password"
                                placeholder="Password">
                        </div>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-between">
                            <button type="button" class="btn btn-success" id="sign_btn">Signup</button>
                            <button type="submit" class="btn btn-danger" id="login_btn">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"></script>
    <script src="../public/js/login.js"></script>
</body>

</html>