<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expense Tracker app</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous" />
        <style>
            #Daily_report{
                border-color: black;
            }
        </style>
</head>

<body>
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-lg-6 col-md-8 col-sm-10">
                <div id="logo-container" class="text-center">
                    <img src="download.png" id="logo_img" class="img-fluid">
                </div>
                <div id="form_container" class="mt-5">
                    <h1 id="heading_tag" class="text-center">Day to Day expense</h1><br>
                    <h5 id="year_tag" class="text-center">2024</h5>
                    <h6 id="date_tag" class="text-center">Feb 2024</h6>
                        <div class="mb-3">
                            <table id="Daily_report" class="table table-bordered text-center">
                                <tr>
                                    <td style="background-color: rgb(218, 218, 241);">Date</td>
                                    <td style="background-color: rgb(218, 218, 241);">Description</td>
                                    <td style="background-color: rgb(218, 218, 241);">Category</td>
                                    <td style="background-color: rgb(218, 218, 241);">Income</td>
                                    <td style="background-color: rgb(218, 218, 241);">Expenses</td>
                                </tr>
                            </table>
                            <div class="row justify-content-center mt-5" id="pagination">

                            </div>
                        </div>
                        <div class="mb-3">
                            <h6 id="report_type_tag" class="text-center">Yearly Report</h6>
                            <table id="yearly_report" class="table table-bordered text-center">
                                <tr>
                                    <td style="background-color: rgb(218, 218, 241);">Month</td>
                                    <td style="background-color: rgb(218, 218, 241);">Income</td>
                                    <td style="background-color: rgb(218, 218, 241);">Expense</td>
                                    <td style="background-color: rgb(218, 218, 241);">Saving</td>
                                </tr>
                            </table>
                        </div>
                        <div class="mb-3">
                            <h6 id="report_notes_tag" class="text-center">Notes Report 2024</h6>
                            <table id="report_notes" class="table table-bordered text-center">
                                <tr>
                                    <td style="background-color: rgb(218, 218, 241);">Month</td>
                                    <td style="background-color: rgb(218, 218, 241);">Income</td>
                                </tr>
                            </table>
                        </div>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-between">
                            <button type="button" class="btn btn-info" id="download_btn">Download Report</button>
                        </div>
                </div>
                <div class="d-grid fap-2 d-md-flex justify-constent-md-between" id="fileurl">

                </div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"></script>
    <script src="../public/js/UserReport.js"></script>
</body>

</html>