* {
    margin: 0px;
    padding: 0px;
    font-family: cursive;
}

body {
    background-color: rgb(216, 241, 240);
}

#logo_img{
    margin-left: 500px;
}

#logo-container{
    height: 10%;
    width: 80%;
    margin-top: 20px;
    background-color: black;
}

#form_container {
    height: 40%;
    width: 80%;
    background-color: black;
    color: white;
    margin-top: 50px;
}

#heading_tag{
    text-align: center;
}

label {
    margin-left: 350px;
}

#sign_btn {
    margin-left: 520px;
    margin-bottom: 20px;
}

#login_btn {
    margin-bottom: 20px;
}

a{
    color: black;
}